In [1]:
# Import data wrangling and visualization Libraries
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("data/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = 'latin1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

## 1. What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [3]:
df.groupby("Item").aggregate({"Y2014":"sum", "Y2017":"sum"}).loc["Animal fats"]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

## 2. What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [4]:
(round(df["Y2015"].mean(), 3), round(df["Y2015"].std(), 3))

(135.236, 1603.404)

## 3. What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [5]:
df["Y2016"].isna().sum()

1535

In [6]:
round (df["Y2016"].isna().sum()/len(df) * 100, 2)

2.52

## 4. Which year had the highest correlation with ‘Element Code’?

In [7]:
df.corr()["Element Code"].sort_values(ascending=False)

Element Code    1.000000
Y2014           0.024457
Y2018           0.024279
Y2017           0.024254
Y2015           0.023889
Y2016           0.023444
Area Code      -0.000209
Item Code      -0.024683
Name: Element Code, dtype: float64

2014 has the highest correlation

## 5. What year has the highest sum of Import Quantity?

In [8]:
df.groupby("Element").sum().loc["Import Quantity"].sort_values(ascending=False)

Element Code    28834929.00
Item Code       13795966.00
Area Code         688174.00
Y2017             294559.09
Y2018             287997.09
Y2016             286582.78
Y2014             274144.48
Y2015             267018.46
Name: Import Quantity, dtype: float64

2017 has the highest Import Quantity

## 6. What is the total number of the sum of Production in 2014?

In [9]:
df.groupby("Element")["Y2014"].sum().loc["Import Quantity"]

274144.48

## 7. Which of these elements had the highest sum in 2018?

In [10]:
new_df = df[["Element", "Y2018"]]
new_df.groupby("Element")["Y2018"].sum().sort_values(ascending=False)

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

## 8. Which of these elements had the 3rd lowest sum in 2018?

In [11]:
new_df = df[["Element", "Y2018"]]
new_df.groupby("Element")["Y2018"].sum().sort_values(ascending=False).tail(3)

Element
Protein supply quantity (g/capita/day)    11833.56
Fat supply quantity (g/capita/day)        10258.69
Tourist consumption                          90.00
Name: Y2018, dtype: float64

Protein has the 3rd lowest sum.

## 9 .What is the total Import Quantity in Algeria in 2018?

In [12]:
mask = df["Area"] == "Algeria"
new_df = df[mask]
new_df.groupby("Element")["Y2018"].sum().loc["Import Quantity"]

36238.29

## 10. What is the total number of unique countries in the dataset?

In [13]:
df["Area"].nunique()

49